* {
  font-family: Poppins, sans-serif;
}

.bottom-40 {
  bottom: 40%;
}

.bottom-20 {
  bottom: 20%;
}

.bottom-40 {
  bottom: 40%;
}

.left-n50 {
  left: -50%;
}

.right-20 {
  right: 20%;
}

.right-50 {
  right: 50%;
}

.h-80 {
  height: 80%
}

.w-80 {
  width: 80%;
}

.w-40 {
  width: 40%;
}

.w-68 {
  width: 68px;
}

.w-42 {
  width: 42.6px;
}

.w-60 {
  width: 60%;
}

.w-85 {
  width: 85%;
}

.h-35 {
  height: 35%;
}

.h-27 {
  height: 27.6px;
}

.h-48 {
  height: 48px;
}

.h-68 {
  height: 68px;
}

.h-60 {
  height: 48%;
}

.w-content {
  width: fit-content;
}

.fs-18 {
  font-size: 18px;
}

.lh-1 {
  line-height: 1.5rem;
}

.lh-2 {
  line-height: 2rem;
}

.flex-1 {
  flex: 1 1 0%;
}
.logo {
  width: 100px;
}


@media (min-width: 768px) {
  .sm-w {
    width: 192px;
  }
}

.md-mr-10 {
  margin-right: 2.5rem;
}
.mx-450 {
  max-width: 450px;
}

.fs-18 {
  font-size: 17px;
}

.footer-p {
  max-width: 312px;
}

.footer-img {
  width: 266px;
  height: 72.14px;
}

.flex-1-5 {
  flex: 1.5
}



.border-t {
  border-top: 1px solid #3F3E45;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.cursor-pointer {
  cursor: pointer;
}
